[access]
	inheritFrom = All-Projects
[submit]
	action = inherit
[change]
	privateByDefault = true
[project]
[access "refs/*"]
	owner = group user/Chris Crump (Sirhc95)
	read = group Administrators
	read = group Maintainers
	read = group Managers
	read = block group Anonymous Users
	read = block group Registered Users
